<div className="row gx-lg-0 gy-6">
  <div className="col-lg-4">
    <div className="widget">
      <img className="mb-4" src="@@webRoot/assets/img/logo.png" srcset="@@webRoot/assets/img/logo@2x.png 2x" alt="" />
      <p className="lead mb-0">We are trusted by over 5000+ clients. Join them by using our services and grow your business.</p>
    </div>
    <!-- /.widget -->
  </div>
  <!-- /column -->
  <div className="col-lg-3 offset-lg-2">
    <div className="widget">
      <div className="d-flex flex-row">
        <div>
          <div className="icon text-primary fs-28 me-4 mt-n1"> <i className="uil uil-phone-volume"></i> </div>
        </div>
        <div>
          <h5 className="mb-1">Phone</h5>
          <p className="mb-0">00 (123) 456 78 90 <br />00 (987) 654 32 10</p>
        </div>
      </div>
      <!--/div -->
    </div>
    <!-- /.widget -->
  </div>
  <!-- /column -->
  <div className="col-lg-3">
    <div className="widget">
      <div className="d-flex flex-row">
        <div>
          <div className="icon text-primary fs-28 me-4 mt-n1"> <i className="uil uil-location-pin-alt"></i> </div>
        </div>
        <div className="align-self-start justify-content-start">
          <h5 className="mb-1">Address</h5>
          <address>Moonshine St. 14/05 Light City, London, United Kingdom</address>
        </div>
      </div>
      <!--/div -->
    </div>
    <!-- /.widget -->
  </div>
  <!-- /column -->
</div>
<!--/.row -->
<hr className="mt-13 mt-md-14 mb-7" />
<div className="d-md-flex align-items-center justify-content-between">
  <p className="mb-2 mb-lg-0">© 2023 Sandbox. All rights reserved.</p>
  <nav className="nav social social-muted mb-0 text-md-end">
    <a href="#"><i className="uil uil-twitter"></i></a>
    <a href="#"><i className="uil uil-facebook-f"></i></a>
    <a href="#"><i className="uil uil-dribbble"></i></a>
    <a href="#"><i className="uil uil-instagram"></i></a>
    <a href="#"><i className="uil uil-youtube"></i></a>
  </nav>
  <!-- /.social -->
</div>