<div className="container pb-12 text-center">
  <div className="row mt-n10 mt-lg-0">
    <div className="col-xl-10 mx-auto">
      <div className="row mb-3">
        <div className="col-md-4">
          <div className="widget">
            <h4 className="widget-title">Address</h4>
            <address>Moonshine St. 14/05 <br className="d-none d-md-block" /> Light City, London, UK</address>
          </div>
          <!-- /.widget -->
        </div>
        <!--/column -->
        <div className="col-md-4">
          <div className="widget">
            <h4 className="widget-title">Phone</h4>
            <p>00 (123) 456 78 90 <br />00 (987) 654 32 10</p>
          </div>
          <!-- /.widget -->
        </div>
        <!--/column -->
        <div className="col-md-4">
          <div className="widget">
            <h4 className="widget-title">E-mail</h4>
            <p><a href="mailto:sandbox@email.com" className="link-body">sandbox@email.com</a> <br className="d-none d-md-block" /><a href="mailto:help@sandbox.com" className="link-body">help@sandbox.com</a></p>
          </div>
          <!-- /.widget -->
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
      <p>© 2023 Sandbox. All rights reserved.</p>
      <nav className="nav social justify-content-center">
        <a href="#"><i className="uil uil-twitter"></i></a>
        <a href="#"><i className="uil uil-facebook-f"></i></a>
        <a href="#"><i className="uil uil-dribbble"></i></a>
        <a href="#"><i className="uil uil-instagram"></i></a>
        <a href="#"><i className="uil uil-youtube"></i></a>
      </nav>
      <!-- /.social -->
    </div>
    <!-- /column -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->