<div className="navbar-other @@classList">
  <ul className="navbar-nav flex-row align-items-center ms-auto">
    @@if (context.languageSelect === 'true') {
      @@include('_menu-others-lang.html')
    }
    @@if (context.info === 'true') {
      <li className="nav-item"><a className="nav-link" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-info"><i className="uil uil-info-circle"></i></a></li>
    }
    @@if (context.search === 'true') {
    <li className="nav-item"><a className="nav-link" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-search"><i className="uil uil-search"></i></a></li>
    }
    @@if (context.shop === 'true') {
    <li className="nav-item">
      <a className="nav-link position-relative d-flex flex-row align-items-center" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-cart">
        <i className="uil uil-shopping-cart"></i>
        <span className="badge badge-cart bg-primary">3</span>
      </a>
    </li>
    }
    @@if (context.link === 'true') {
      <li className="nav-item">
        <a href="@@if (context.linkModal === 'true') {#}@@if (context.linkModal !== 'true') {@@linkLink}" className="nav-link" @@if (context.linksNewTab === 'true') {target="_blank"} @@if (context.linkModal === 'true') { data-bs-toggle="modal" data-bs-target="@@linkLink"}>@@linkText</a>
      </li>
    }
    @@if (context.btn === 'true') {
    <li className="nav-item d-none d-md-block">
      <a href="@@if (context.btnModal === 'true') {#}@@if (context.btnModal !== 'true') {@@btnLink}" className="btn @@btnClassList" @@if (context.linksNewTab === 'true') {target="_blank"} @@if (context.btnModal === 'true') { data-bs-toggle="modal" data-bs-target="@@btnLink"}>@@btnText</a>
    </li>
    }
    @@if (context.social === 'true') {
      <li className="nav-item">
        <nav className="nav social social-muted justify-content-end text-end">
          <a href="#"><i className="uil uil-twitter"></i></a>
          <a href="#"><i className="uil uil-facebook-f"></i></a>
          <a href="#"><i className="uil uil-dribbble"></i></a>
          <a href="#"><i className="uil uil-instagram"></i></a>
        </nav>
        <!-- /.social -->
      </li>
    }
    <li className="nav-item d-lg-none">
      <button className="hamburger offcanvas-nav-btn"><span></span></button>
    </li>
  </ul>
  <!-- /.navbar-nav -->
</div>
<!-- /.navbar-other -->
